<div>
    <table style="width:100%;text-align:center;background-color: green;">
        <tr style ="padding: 4%;">
 
            <th><a routerLink="individual" style="text-decoration: none;color:white;">Individual Events</a></th>
            <th><a routerLink="team" style="text-decoration: none;color:white;">Team Events</a></th>
        </tr>
        </table>
    </div>
    <div  class="container mt-3" style="padding:0%;margin: 0%;max-width: inherit;">
        <router-outlet>
          
        </router-outlet>
        </div>