<div style="margin-bottom: 2%;">
<div class="wrap">
    <div class="tile">
        <img
            src='../../assets/Unscramble.jpg' />
        <div class="text">
            <h1>Unscramble</h1>
            <h2 class="animate-text">Dive into unscramble to unleash your inner self</h2>
            <!--<p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken
                meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>-->
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>


    <div class="tile">
        <img
            src='../../assets/Teasure Hunt.jpg' />
        <div class="text">
            <h1>Teasure Hunt</h1>
            <h2 class="animate-text">Run faster before someone hunts your teasure</h2>
            <!--<p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken
                meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>-->
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div class="tile">
        <img
            src='../../assets/rapid fire.png' />
        <div class="text">
            <h1>SPEED rapid fire quiz</h1>
            <h2 class="animate-text">Run faster before someone hunts your teasure</h2>
            <!--<p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken
                meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>-->
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

</div>
<!--Section 2-->
<div class="wrap">
    <div class="tile">
        <img
            src='../../assets/one minute speed story.png' />
        <div class="text">
            <h1>One minute SPEED story</h1>
            <h2 class="animate-text">Run faster before someone hunts your teasure</h2>
            <!--<p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken
                meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>-->
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>


    <div class="tile">
        <img
            src='../../assets/networking event.jpg' />
        <div class="text">
            <h1>SPEED networking event</h1>
            <h2 class="animate-text">Run faster before someone hunts your teasure</h2>
            <!--<p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken
                meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>-->
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div class="tile">
        <img
            src='../../assets/learning workshop.jpg' />
        <div class="text">
            <h1>SPEED learning workshop</h1>
            <h2 class="animate-text">Run faster before someone hunts your teasure</h2>
            <!--<p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken
                meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>-->
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

</div>
<!--Section 3-->
<div class="wrap">
    <div class="tile">
        <img
            src='../../assets/learning and dev.png' />
        <div class="text">
            <h1>Learning and devlopment community</h1>
            <h2 class="animate-text">Run faster before someone hunts your teasure</h2>
            <!--<p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken
                meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>-->
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>


    <div class="tile">
        <img
            src='../../assets/Decision making.jpg' />
        <div class="text">
            <h1>Flash decision making challenge</h1>
            <h2 class="animate-text">Run faster before someone hunts your teasure</h2>
            <!--<p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken
                meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>-->
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div class="tile">
        <img
            src='../../assets/ceo quiz.jpg' />
        <div class="text">
            <h1>CEO SPEED Q&A</h1>
            <h2 class="animate-text">Run faster before someone hunts your teasure</h2>
            <!--<p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken
                meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>-->
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

</div>
</div>