<html>
    <head>
        <title>homepage</title>
    </head>
    <body>
    <!--Home page Image Section-->
    <div style="align-items: center; text-align: center;margin-bottom: 4%;">
        <img src ="../../assets/MainPage.png" style="height: 70%;width:70%;"/>
    </div>
    <!--Information section-->
    <div class="info">
        <h3 style="padding:1%;color: white;">Event Timeline</h3>
        <div class="timeline">
        <div class="container left">
            <div class="content">
              <h2>Mascot</h2>
              <p>Enroll yourself in this event</p>
              <a href="microsft link">Register</a>
            </div>
          </div>
          <div class="container right">
            <div class="content">
              <h2>Unscramble</h2>
              <p>jion the event of word game</p>
              <a href="microsft link">Register</a>
            </div>
          </div>
          </div>
    </div>
    
</body>
</html>